<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="jewpigeon.apps.newgrounds"
    >

    <uses-permission android:name="android.permission.INTERNET" />
    <application
        android:name="jewpigeon.apps.newgrounds.Fundamental.NG_Application"
        android:allowBackup="true"
        android:icon="@mipmap/newgrounds_logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/newgrounds_logo_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name="jewpigeon.apps.newgrounds.SplashScreen"
            android:theme="@style/AppTheme.Launcher">
            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER" />
               <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <activity android:name="jewpigeon.apps.newgrounds.ContentActivity"/>

    </application>

</manifest>