<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="jewpigeon.apps.newgrounds">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".Fundamental.NG_Application"
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ng_app_ico"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/NG_DefaultTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".PassportActivity" android:theme="@style/NG_DefaultTheme.Passport">

        </activity>
        <activity
            android:name=".SplashScreen"
            android:theme="@style/NG_DefaultTheme.Launcher">
            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER" />

                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <activity android:name=".ContentActivity" />
    </application>

</manifest>